<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/cerulean/bootstrap.min.css">
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <nav class="navbar navbar-expand navbar-light bg-light">
                <div class="nav navbar-nav">
                    <a class="nav-item nav-link" href="#">Home</a>
                    <a class="nav-item nav-link" href="{{ path('logement') }}">Logement</a>
                    <a class="nav-item nav-link" href="{{ path('sports') }}">Sport</a>
                    <a class="nav-item nav-link" href="{{ path('voiture_index') }}">Voiture</a>
                    <a class="nav-item nav-link" href="{{ path('conducteur_index') }}">Conducteur</a>
                    <a class="nav-item nav-link" href="{{ path('parking_index') }}">Parking</a>
                    {% if app.user %}
                    <a class="nav-item nav-link" href="{{ path('app_logout') }}">Logout</a>                    
                    {% else %}
                    <a class="nav-item nav-link" href="{{ path('app_login') }}">Login</a>
                    <a class="nav-item nav-link" href="{{ path('app_register') }}">Sign up</a>
                    {% endif %}
                </div>
            </nav>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
