{{ form_start(form) }}
        
        {{ form_row(form.Marque) }}
        
        
        {{ form_row(form.Modele) }}
        
        
        {{ form_row(form.Immatriculation) }}
        
        
        {{ form_row(form.Couleur) }}        
        
    
        {{ form_row(form.image) }}
    
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}

