{% extends 'base.html.twig' %}

{% block title %}Voiture index{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-8 offset-2">


            <h1 class="text-center">Liste de Voitures</h1>

            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th>Id</th>
                        <th>Marque</th>
                        <th>Modele</th>
                        <th>Immatriculation</th>
                        <th>Couleur</th>
                        <th>Image</th>
                        <th>CreatedAt</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for voiture in voitures %}
                    <tr class="text-center">
                        <td class="align-middle">{{ voiture.id }}</td>
                        <td class="align-middle">{{ voiture.Marque }}</td>
                        <td class="align-middle">{{ voiture.Modele }}</td>
                        <td class="align-middle">{{ voiture.Immatriculation|upper }}</td>
                        <td class="align-middle">{{ voiture.Couleur }}</td>
                        <td class="align-middle"><img height="80px" src="{{ voiture.image ? asset('uploads/voitures') ~ voiture.image : asset('img/voiture_default.png') }}"</td>
                        <td class="align-middle">{{ voiture.createdAt ? voiture.createdAt|date('H:i d/m/Y') : '' }}</td>
                        <td class="align-middle">
                            <a class="btn btn-sm btn-success" href="{{ path('voiture_show', {'id': voiture.id}) }}">show</a>
                            <a class="btn btn-sm btn-danger" href="{{ path('voiture_edit', {'id': voiture.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a class="btn btn-info" href="{{ path('voiture_new') }}">Create new</a>
        </div>
    </div>
</div>
{% endblock %}
